In [1]:
import pandas as pd
import numpy as np

In [2]:
# Importuojame funkcijas 
from functions import white_space
from functions import paskutinis_simbolis

In [3]:
# Sukuriame DF 
path = r'C:\Users\tvale\OneDrive - Girteka Logistics, UAB\Documents\02_mokymasis\final_poj\data\autobonus_data\autobonus\autobonus\autobonus.csv'
autobonus_df = pd.read_csv(path)

In [4]:
# Istriname nereikalingus stulpelius 
autobonus_df = autobonus_df.drop(['url', 'kliento_tipas', 'telefonas', 'vin'], axis=1)

In [5]:
# Kaina. Panaikiname nereikalingus tarpus ir EUR simboli 
autobonus_df['kaina'] = white_space(autobonus_df['kaina']).str.replace('€', '')

In [6]:
# Modelis. Jei nera tokias eilutes eliminuojame 
autobonus_df = autobonus_df.loc[autobonus_df['modelis'].notna()]

In [7]:
# Pagamimimo data. Paliekame tik metus 
autobonus_df['pagaminimo_data'] = autobonus_df['pagaminimo_data'].str[:4].astype(int)

In [8]:
# Rida. Istriname tarpus ir eliminuojame gale esanti 'km'
autobonus_df['rida'] = white_space(autobonus_df['rida']).str.replace('km', '')

In [9]:
# Kuras. Jei nera reiksmes tokias eilutes eliminuojame 
autobonus_df = autobonus_df.loc[autobonus_df['kuras'].notna()]

In [10]:
# Vairo padetis. Palikeame tik su reiksme 'Kairėje'
autobonus_df = autobonus_df.loc[autobonus_df['vairo_padetis'] == 'Kairėje']

In [11]:
# Bukle. Paliekame tik tas eilutes kuriose nėra reikšmės. Eilutes be reiksmes yra automobilis be defektu. 
autobonus_df = autobonus_df.loc[autobonus_df['bukle'].isna()]

In [12]:
# Variklis. Stulpeli padaliname i dvi dalis ir paliekame tik skaitines reiksmes 
# Pirma dalis - galia_kw
# Antra dalis - galia_ag
autobonus_df[['variklis1', 'galia_kw']] = autobonus_df['variklis'].str.split('(', expand=True)
autobonus_df['galia_kw'] = white_space(autobonus_df['galia_kw']).str.replace('kW)', '')

In [13]:
# Istriname nereikalingus stulpelius 
autobonus_df = autobonus_df.drop(
    [
        'variklis',
        'vairo_padetis',
        'varantys_ratai',
        'vairo_padetis',
        'bukle',
        'variklis1'
    ], axis=1
)

In [14]:
autobonus_df = autobonus_df.reset_index(drop=True)

In [16]:
autobonus_df = autobonus_df.rename(
    columns={
        'marke': 'gamintojas',
        'pagaminimo_data': 'metai',
        'kebulo_tipas': 'kebulas',
    }
)

In [17]:
autobonus_df

,kaina,gamintojas,modelis,metai,rida,kebulas,kuras,pavaru_deze,duru_sk,galia_kw
0,7777,Opel,Zafira tourer,2013,213000,Vienatūris,Dyzelinas,Mechaninė,4/5,100
1,9900,Mini,Countryman,2013,129659,Hečbekas,Dyzelinas,Automatinė,4/5,82
2,8690,Volkswagen,Passat,2013,232000,Universalas,Dyzelinas,Mechaninė,4/5,103
3,6000,Volvo,S80,2007,175,Sedanas,Dyzelinas,Automatinė,4/5,136
4,12690,Volvo,XC60,2013,195000,Visureigis,Dyzelinas,Automatinė,4/5,120
...,...,...,...,...,...,...,...,...,...,...
3838,1700,Volkswagen,Fox,2007,121971,Hečbekas,Benzinas,Mechaninė,2/3,40
3839,450,Mercedes-Benz,C klasė,1995,NaN,Sedanas,Benzinas,Mechaninė,4/5,None
3840,1800,Jaguar,X-Type,2004,30070,Sedanas,Dyzelinas,Mechaninė,4/5,96
3841,3000,Audi,A4,2005,354969,Sedanas,Dyzelinas,Mechaninė,4/5,84
3842,470,Seat,Leon,2000,NaN,Hečbekas,Benzinas,Mechaninė,4/5,55