In [1]:
import pandas as pd
import numpy as np

In [2]:
# Functions 
from functions import white_space
from functions import paskutinis_simbolis

In [3]:
path = r'C:\Users\tvale\OneDrive - Girteka Logistics, UAB\Documents\02_mokymasis\final_poj\data\autogidas_data\autogidas\autogidas\spiders\autogidas.csv'
autogidas_df = pd.read_csv(path)

In [4]:
# Sutvarkome kainu stulpeli, nuimame Eur simboli
autogidas_df['kaina'] = paskutinis_simbolis(autogidas_df['kaina'])
autogidas_df['kaina'] = white_space(autogidas_df['kaina']).astype(int)

In [5]:
# Marke stulpelyje istriname gale esanty tarpa 
autogidas_df['marke'] = white_space(autogidas_df['marke'])

In [6]:
# Modelis nutriname gale tuscia tarpa
autogidas_df['modelis'] = paskutinis_simbolis(autogidas_df['modelis'])

In [7]:
# Paliekame tik metus, menesi pasaliname
autogidas_df['metai'] = autogidas_df['metai'].str[:4]

In [8]:
# Kuras pasaliname gale esanti tarpa
autogidas_df['kuras'] = paskutinis_simbolis(autogidas_df['kuras'])

In [9]:
# Standartizuojame kuro tipus
autogidas_df['kuras_kor'] = np.where(
    (autogidas_df['kuras'] == 'Benzinas/Gamtinės dujos'), 'Benzinas/Dujos',
    np.where(
    (autogidas_df['kuras'] == 'Benzinas / Elektra'), 'Benzinas/Elektra',
    np.where(
    (autogidas_df['kuras'] == 'Benzinas + Elektra'), 'Benzinas/Elektra',
    np.where(
    (autogidas_df['kuras'] == 'Benzinas + Dujos (LPG)'), 'Benzinas/Dujos',
    np.where(
    (autogidas_df['kuras'] == 'Dyzelinas + Elektra'), 'Dyzelinas/Elektra',
    np.where(
    (autogidas_df['kuras'] == 'Etanolis'), 'Dujos',
    np.where(
    (autogidas_df['kuras'] == 'Benzinas / Bioetanolis E85'), 'Benzinas/Dujos', autogidas_df['kuras']
    )
    )
    )
    )
    )
    )
)

In [10]:
# Pavaru deze istrinti nereikalingus tapus 
autogidas_df['pavaru_deze'] = white_space(autogidas_df['pavaru_deze'])

In [11]:
# Duru skaicius, panaikiname nereikalingus tarpus
autogidas_df['duru_sk'] = white_space(autogidas_df['duru_sk'])

In [12]:
# Vairo padetis, panaikiname nereikalingus tarpus.
autogidas_df['vairo_padetis'] = white_space(autogidas_df['vairo_padetis'])

In [13]:
# Defektai, istriname nereikalingus tarpus.
autogidas_df['defektai'] = paskutinis_simbolis(autogidas_df['defektai'])

In [14]:
# Varantys ratai, panaikiname gale esanti tarpa ir standartizuojame kategorija
autogidas_df['varantys_ratai'] = paskutinis_simbolis(autogidas_df['varantys_ratai'])

autogidas_df['varantys_ratai'] = np.where(
    (autogidas_df['varantys_ratai'] == 'Priekiniai varantys ratai'), 'Priekiniai',
    np.where(
    (autogidas_df['varantys_ratai'] == 'Galiniai varantys ratai'), 'Galiniai',
    np.where(
    (autogidas_df['varantys_ratai'] == 'Visi varantys ratai'), 'Visi', 
    np.where(
    (autogidas_df['varantys_ratai'] == 'Visi varantys (4х4)'), 'Visi', autogidas_df['varantys_ratai']
    )
    )
    )
)

In [15]:
# Rida 
autogidas_df['rida'] = white_space(autogidas_df['rida']).str.replace('km', '')

In [16]:
# Variklio stulpeli padaliname i tris stulpelius variklio)_turis, galia_kw, galia_ag
autogidas_df[['variklis1', 'galia_ag']] = autogidas_df['variklis'].str.split('(', expand=True)
autogidas_df['galia_ag'] = autogidas_df['galia_ag'].str.replace(' Ag)', '')

In [17]:
autogidas_df[['turis', 'galia_kw']] = autogidas_df['variklis1'].str.split('l.', expand=True)
# autogidas_df['galia_kw'] = white_space(autogidas_df['galia_kw']).str.replace('kW', '')

In [18]:
# Sukuriame nauja stulpeli paimti kW is turis stulpelio 
autogidas_df['galia_kw2'] = np.where(
    (autogidas_df['galia_kw'].isna()), autogidas_df['turis'], autogidas_df['galia_kw']
)

In [19]:
# Turis stulpelis. Jie turis reiksme lygi galia_kW2 pakeisti i nan 
autogidas_df['turis2'] = np.where(
    (autogidas_df['turis'] == autogidas_df['galia_kw2']), np.nan, autogidas_df['turis']
)

In [20]:
autogidas_df['turis2'] = white_space(autogidas_df['turis2'])

In [21]:
autogidas_df['galia_kw2'] = white_space(autogidas_df['galia_kw2']).str.replace('kW', '')

In [22]:
autogidas_df['galia_kw2'] =np.where(
    (autogidas_df['galia_kw2'] == ''), np.nan, autogidas_df['galia_kw2']
)

In [23]:
# Duomenų valymas 
autogidas_eda = autogidas_df.copy()

In [24]:
# Defektai. Triname eilutes kuriose nėra įraso 'Be defektų'
autogidas_eda = autogidas_eda.loc[autogidas_eda['defektai'] == 'Be defektų']

In [25]:
# Vairo padetis. Istriname eilutes kuriose nėra įrašo 'Kairėje'
autogidas_eda =  autogidas_eda.loc[autogidas_eda['vairo_padetis'] == 'Kairėje']

In [26]:
# Modelis. Triname eilutes kur nėra nurodytas modelis
autogidas_eda = autogidas_eda.loc[autogidas_eda['modelis'].notna()]

In [27]:
# Duru skaicius. Irasome trukstama reiksme 
autogidas_eda['duru_sk2'] = np.where(
    (autogidas_eda['duru_sk'].isna()), '4/5', autogidas_eda['duru_sk']
)

# Istriname stulpeli duru_sk ir duru_sk2 pervadiname i duru_sk2
autogidas_eda = autogidas_eda.drop(['duru_sk'], axis=1).rename(columns={'duru_sk2': 'duru_sk'})

In [28]:
# Istriname stulpelius 
autogidas_eda = autogidas_eda.drop(
    [
        'url', 
        'skelbimo_id',
        'variklis',
        'variklis1',
        'kuras',
        'telefono_nr',
        'vairo_padetis',
        'defektai',
        'varantys_ratai',
        'turis',
        'galia_kw'
     ]
     , axis=1
                                   )

In [29]:
autogidas_eda = autogidas_eda.reset_index(drop=True)

In [33]:
autogidas_eda = autogidas_eda.rename(
    columns={
        'marke': 'gamintojas',
        'kuras_kor': 'kuras',
        'galia_kw2': 'galia_kw',
        'turis2': 'variklio_turis'
    }
)

In [34]:
autogidas_eda

,kaina,gamintojas,modelis,metai,kebulas,pavaru_deze,rida,kuras,galia_ag,galia_kw,variklio_turis,duru_sk
0,2500,Seat,Altea,2006,Vienatūris,Mechaninė,NaN,Dyzelinas,140,103,2.0,4/5
1,1300,Citroen,C4,2007,Hečbekas,Mechaninė,145000,Benzinas,109,80,1.6,4/5
2,1899,Volkswagen,Passat,2002,Universalas,Mechaninė,NaN,Dyzelinas,131,96,1.9,4/5
3,9800,BMW,525,2013,Universalas,Automatinė,269000,Dyzelinas,218,160,2.0,4/5
4,8900,BMW,520,2010,Universalas,Automatinė,311000,Dyzelinas,184,135,2.0,4/5
...,...,...,...,...,...,...,...,...,...,...,...,...
7777,4950,Ford,Mondeo,2012,Universalas,Mechaninė,334000,Dyzelinas,140,103,2.0,4/5
7778,2750,Seat,Leon,2006,Hečbekas,Mechaninė,259478,Dyzelinas,170,125,2.0,4/5
7779,4150,Skoda,Octavia,2011,Universalas,Mechaninė,274000,Dyzelinas,105,77,1.6,4/5
7780,4500,Toyota,RAV4,2007,Visureigis,Mechaninė,NaN,Dyzelinas,177,130,2.2,4/5
7781,4150,Skoda,Octavia,2012,Hečbekas,Mechaninė,287000,Dyzelinas,105,77,1.6,4/5